<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/auth/google">Login with Google</a>
    <!-- Rendering through ejs, the list of events that come up through a request to Ticketmaster API, have an array that stores the id of events in the user model, and whenever you
   -- my own database... displaying it on the page, its not the database
    to have each displayed event, nesting in a form element, submit 
    on the ejs, add a submit button that adds it to the database (refresh details, call) -->
    <!-- OR store that information in the database, picking this option... (adding events model, make a request to the API, sort it through my own events model) just an array in the users models that stores the ticketmaster ID of the events. just store the name of the events, and the url... and save it... the events model is simply storing the name of the event, and  -->
  </body>
</html>
