<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= user.name %></h1>
    <!-- A list of the user's bookmarked events should be rendered here -->
  </body>
</html>
