<!DOCTYPE html>
<html>
  <head>
    <title><%= user %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= user %></h1>
    <!-- A list of the user's bookmarked events should be rendered here -->
    <a href="/auth/google">Login with Google</a>
  </body>
</html>
